fieldset {
    border: 1px solid #2b434e;
    border-radius: 5px;
    padding: 10px;
}

legend {
    text-align: center;
    border: 1px solid #2b434e;
    padding: 2px;
    float: unset;
    max-width: 180px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    text-decoration: inherit;
    font-family: "Montserrat";
}